@use 'variables.scss' as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    max-width: 1440px;
    margin: auto;
    padding: 0px 16px;

}


.navbar-brand{
    max-width: 225px;
    max-height: 40px;

    img{
        width: 100%;
        height: 100%;
    }
}


.navbar-nav{
    text-align: center;
    margin: auto;
    font-family: $def-fronts;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
}


// .nav-item{
//     position: relative;
   

//     .nav-link{
//          color: $black;
//     }
//     .nav-link:hover{
//         color: $blue;
//         transition: 0.33s all ease;
//     }

//     .nav-link:hover::after{
//         position: absolute;
//         content: '';
//         background-color: $blue;
//         width: 8px;
//         height: 8px;
//         border-radius: 100%;
//         left: 46%;
//          /* top: 0; */
//         bottom: 0;
//         right: 50%;
//     }
// }

.header{
    padding-top: 20px;
}


.nav-item {
  position: relative;

  .nav-link {
    color: $black;
    position: relative;
    transition: color 0.33s ease;

    &::after {
      content: '';
      position: absolute;
      background-color: $blue;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      left: 50%;
      bottom: 0px;
      transform: translateX(-50%) scale(0.5);
      opacity: 0;
      transition: opacity 0.3s ease, transform 0.3s ease;
    }

    &:hover {
      color: $blue;

      &::after {
        opacity: 1;
        transform: translateX(-50%) scale(1);
      }
    }
  }
}


.login-register{
    position: relative;



    &::after{
        position: absolute;
        content: '';
        width: 2px;
        height: 32px;
        left:45%;
        // right: 50%;
        background-color: $black;
    }
}

.login, .register{
    color: $black;
    font-family: $def-fronts;
    font-size: 1rem;
    border: none;
    background: transparent;
    padding: 7px 12px;
    text-transform: uppercase;
    font-weight: 600;
    transition: color .33s ease;

    &:hover{
        color: $green;
    }
}


.hero{
    height: 100vh;
    display: flex;
    align-items: center;
   
}


.hero-left{


    align-items: center;

    .hero-left-text{

        max-width: 460px;

        span{
            font-family: $def-fronts;
            color: $green;
            font-size: 1rem;
            line-height: 21px;
            font-weight: 900;
        }

        h1{
            font-size: 4rem;
            color: $blue;
            font-family: $def-fronts;
            line-height: 76.8px;
            font-weight: 800;
            margin-top: 24px;
            margin-bottom: 32px;
        }

        p{
            font-family: $def-fronts;
            color: $black;
            opacity: 50%;
            font-size: 1.1rem;
            line-height: 24px;
            margin-bottom: 40px;
        }
    }

    .hero-btn{
        display: flex;
        max-width: 400px;
        // justify-content: space-between;
        .try-for-free{
            background-color: $green;
            padding: 18px;
            border: 4px solid transparent;
            border-radius: 32px;
            font-family: $def-fronts;
            color: $white;
            font-size: 1.1rem;
            font-weight: 700;
            line-height: 100%;
            transition: all .33s ease;
            box-shadow: 4px 4px 8px 0px #3DC85E3D;


            &:hover{
                border: 4px solid $green;
                background-color: transparent;
                color: $black;
            }
        }

        .link-video{
            background-color: transparent;
            border: 0px solid transparent;
            display: flex;
            align-items: center;
            margin-left: 30px;
            .icon-play{
                background-color: $green;
                margin: auto;
                display: flex;
                padding: 12px;
                border-radius: 32px;
                margin-right: 10px;
                box-shadow: 4px 4px 16px 0px #3DC85E40;

                img{
                    width: 16px;
                    height: 16px;
                }
            }

            a{
                color: $black;
                text-decoration: none;
                font-size: 1.1rem;
                font-weight: 700;
                font-family: $def-fronts;
                text-transform: uppercase;
            }

        }
        
    }
}


.hero-right{
    text-align: center;



    .hero-right-img{
        position: relative;
        max-width: 550px;
        margin: 0 auto;
        overflow: visible; // можно оставить, если псевдоэлемент не будет вылазить
        z-index: 1;
        

        &::before {
            content: "";
            position: absolute;
            top: -58px; // подстрой под себя
            left: -40px; // сдвиг влево
            width: 110%; // чуть больше основного блока
            height: 110%; // можно подогнать вручную
            background-image: url('../img/one.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            z-index: -1;
            pointer-events: none;
        }
        &::after{
            content: "";
            position: absolute;
            top: -58px; // подстрой под себя
            left: -40px; // сдвиг влево
            width: 110%; // чуть больше основного блока
            height: 110%; // можно подогнать вручную
            background-image: url('../img/two.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            z-index: -1;
            pointer-events: none;
        }

        img {
            width: 100%;
            display: block;
            position: relative;
            z-index: 1;
        }
  


        @media (max-width:450px){

            img{
                width: 100%;
            }

            &::after{
                display: none;
            }
            &::before{
                display: none;
            }
        }
    }

}



.easy{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 186px;
    padding-left: 186px;

    @media (max-width:1024px) {
        padding-left: 0px;
        padding-right: 0px;
    }

    .card-row{
        --bs-gutter-x: 80px;
        --bs-gutter-y: 40px;
    }


    

    .second-heading{
        font-size: 2rem;
        font-weight: 900;
        font-family: $def-fronts;
        color: $blue;
        text-transform: uppercase;
    }


    .easy-text{
        font-family: $def-fronts;
        font-weight: 700;
        font-style: Bold;
        font-size: 1.1rem;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: capitalize;
        margin-top: 24px;
        margin-bottom: 67px;
    }

    .easy-icon-card{
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
        .easy-icon-header{
            display: flex;
            align-items: center;
            background-color: $blue;
            padding: 16px;
            max-width: 80px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 50px;
        }

        .easy-text-body{
            font-family: $def-fronts;
            font-weight: 600;
            font-size: 1rem;
            line-height: 100%;
            letter-spacing: 0%;
            text-transform: lowercase;
            color: $black;
            margin-top: 24px;
            margin-bottom: 16px;
        }

        .easy-btn-footer{
            font-family: $def-fronts;
            font-weight: 600;
            color: $green;
            background-color: transparent;
            border: 0px solid transparent;
            font-size: 0.8rem;
            line-height: 100%;
            letter-spacing: 0%;
            text-transform: lowercase;
        }

    }


}



.study{

    padding-top: 5rem;
    padding-bottom: 5rem;

 

    .study-blue-text{
        font-size: 2rem;
        font-weight: 800;
        font-family: $def-fronts;
        color: $blue;   
    }

    .study-second-heading{
      font-size: 4rem;
      color: $green;
      font-family: $def-fronts;
      font-weight: 800;      
    }

     .card-study-row{
        margin-top: 150px;

    }

    .card-study-row > .col-4:nth-child(2) .study-card-header-img {
            top: -117px;
            max-width: 310px;
            left: 34px;
            right: 0;
    }

        .card-study-row > .col-4:nth-child(3) .study-card-header-img {
            top: -96px;
            max-width: 310px;
            left: 49px;
            right: 0;
    }



    .study-card{

        max-width: 360px;
        box-shadow: 3.62px 3.62px 7.24px 0px #3C62DD3D;
        border-radius: 29px;
        text-align: center;
        padding-bottom: 33px;

        margin-left: auto;
        margin-right: auto;
     
       
        .study-card-header{
            padding-left: 85px;
            padding-right: 85px;
            background-color: $green;
            width: 100%;
            height: 315px;
            border-bottom-left-radius: 230px;
            border-bottom-right-radius: 230px;
            border-top-left-radius: 29px;
            border-top-right-radius: 29px;
            position: relative;
        }

        .card--gradient{
           background: linear-gradient(89.12deg, #3DC85E 0.86%, #3C62DD 99.38%);
        }
        .card--blue{
            background-color: $blue;
        }
     
        .study-card-header-img{
            position: absolute;
            top: -120px;
            max-width: 310px;
            left: 36px;
            right: 0;
        }



        .study-card-body{

            margin-top: 16px;

            .study-card-heading{
                font-family: $def-fronts;
                color: $black;
                font-size: 1.5rem;
                font-weight: 700;   
            }

            .study-card-body{
                font-family: $def-fronts;
                font-size: 1.1rem;
                font-weight: 600;
                color: $black;
                max-width: 191px;
                margin-left: auto;
                margin-right: auto;
            }

        }
    }

  

    .study-card-btn{
        background-color: $green;
        padding: 18px;
        border: 4px solid transparent;
        border-radius: 32px;
        font-family: $def-fronts;
        color: $white;
        font-size: 1.1rem;
        font-weight: 700;
        line-height: 100%;
        transition: all .33s ease;
        box-shadow: 4px 4px 8px 0px #3DC85E3D;
        text-transform:uppercase;
            &:hover{
            border: 4px solid $green;
            background-color: transparent;
            color: $black;
        }
    }
    
}


.result{
    padding-top: 80px;
    padding-bottom: 80px;


    .result-blue-text{
        font-size: 2rem;
        font-weight: 800;
        font-family: $def-fronts;
        color: $blue;   
    }

    .result-second-heading{
      font-size: 4rem;
      color: $green;
      font-family: $def-fronts;
      font-weight: 800;  
      text-transform: capitalize;    
    }
}