$white: #FDFDFF;
$blue: #3C62DD;
$green: #3DC85E;
$black: #070707;


@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Darker+Grotesque:wght@300..900&family=Jersey+15&family=Jura:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


$def-fronts: "Raleway", sans-serif;