<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>

          <!-- <form action="" id="login">
                <div class="row">
                  <div class="col">
                    <input type="email" class="form-control" name="email" placeholder="Email" aria-label="Email" required>
                  </div>
                  <div class="col">
                    <input type="password" class="form-control" name="password" placeholder="Password" aria-label="Password" required>
                  </div>
              </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-primary reg-btn">Sign In</button>
                </div>
            </form>
     
        <div class="result_signIn" id="response-msg"></div> -->



    
</body>
</html>